.back-to-projects{
  position: absolute;
  bottom: 46px;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

.back-to-projects:hover{
 text-decoration: underline;
}


.project-image-description {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
