.back-to-projects{
  position: absolute;
  bottom: 46px;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

.back-to-projects:hover{
 text-decoration: underline;
}


.project-image-description {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: lighter;
  font-size: 12px;
  -webkit-opacity: 0;
  opacity: 0%;

  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.project-image-description.loader {
  opacity: 1;
}

.project-image-description:hover {
  text-decoration: underline;
}

