
@media only screen and (max-width: 600px) {
  .back-to-projects {
    right: 2%;
    position: absolute;
    top: 74px;
    font-family: neue-haas-grotesk-text,sans-serif;
    font-weight: lighter;
    font-size: 12px;
    transform: rotate(-90deg) translateY(39px);
  }

  .back-to-projects:hover{
   text-decoration: underline;
  }


  .project-image-description {
    font-family: neue-haas-grotesk-text,sans-serif;
    font-weight: lighter;
    font-size: 12px;
    -webkit-opacity: 0;
    opacity: 0%;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  }

  .project-image-description.loader {
    opacity: 1;
  }

  .project-image-description:hover {
    text-decoration: underline;
  }
}



@media only screen and (min-width: 601px) {
  .back-to-projects {
    position: absolute;
    bottom: 46px;
    font-family: neue-haas-grotesk-text,sans-serif;
    font-weight: lighter;
    font-size: 12px;
    left: 30px;
  }

  .back-to-projects:hover{
   text-decoration: underline;
  }


  .project-image-description {
    font-family: neue-haas-grotesk-text,sans-serif;
    font-weight: lighter;
    font-size: 12px;
    -webkit-opacity: 0;
    opacity: 0%;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  }

  .project-image-description.loader {
    opacity: 1;
  }

  .project-image-description:hover {
    text-decoration: underline;
  }
}
