.oli, .ing {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 160px;
}

img {
  height: 80vh;
  filter: grayscale(100%);
  mix-blend-mode: multiply;
}

.a {
  padding: 0px;
}

.land {
  opacity: 0%;
  transition: opacity 2s;
  transition-timing-function: ease;
}

.land.reveal {
  opacity: 100%;
}
