.load {
  opacity: 100%;
  -webkit-opacity: 1;
  font-size: 78.5px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: kormelink ;
  font-weight: normal;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: /*translate(-50%, -50%)*/ scale(1);
  z-index: 2;
  transition: opacity 1s;
  transition-timing-function: linear;
  animation-name: zoom;
  animation-duration: 3s;

}

.load.hidden {
  -webkit-opacity: 0;
  opacity: 0%;
}

.navbar.hidden {
   -webkit-opacity: 0;
  opacity: 0%;
}

@keyframes zoom {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.2);
  }

}

@media only screen and (max-width: 600px) {
  .load{
    font-size: 10vw;
  }
}
