@import 'load.css';
@import 'landing.css';
@import 'nav_bar.css';
@import 'index-card.css';
@import 'about.css';


body {
/*  background-image: url('../images/landing.png');*/
  padding: 0;
  margin: 0;
  background-size: cover;
  background-color: #ebe2da;
  font-family: neue-haas-grotesk-text,sans-serif;

  font-weight: 400;
  font-style: normal;
}

