@import 'load.css';
@import 'landing.css';
@import 'nav_bar.css';
@import 'about.css';
@import 'show_card.css';
@import 'index-card.css';


body {
  margin: 0;
  background-size: cover;
  background-color: #ebe2da;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 400;
  font-style: normal;
}

