@import 'load.css';
@import 'landing.css';
@import 'nav_bar.css';



body {
/*  background-image: url('../images/landing.png');*/
  padding: 0;
  margin: 0;
  background-size: cover;
  background-color: #ebe2da;
  font-family: Proto Grotesk;
  font-weight: lighter;
}

