/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

/* Style the links inside the navigation bar */
.navbar .a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.navbar .b {
  text-align: right;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  margin-left: 40px;
  height: 18px;
}

.navbar .b:hover {
  text-align: right;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: black;
  border-bottom: 1px solid black;
  height: 18px;

}

