/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
}

/* Style the links inside the navigation bar */
.navbar .a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.navbar .b {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

