.show-page-title {
  white-space: nowrap;
  font-size:2.3rem;
  overflow: hidden;
}
h2.show-tech {
  font-family: kormelink !important;
  font-weight: normal;
  font-size: 20px;
}
.show-body-text {
  font-family: kormelink ;
  font-weight: normal;
  text-align: justify;
}




